@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

body {
  background-color: #151515;
  font-family: 'Roboto Mono', monospace;
  color: #ffffff;
}
